{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2018",
    "keepClassNames": true,
    "loose": true
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}